body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Jua", sans-serif;
}
.home {
  text-align: center;
  margin-top: 200px;
}
.home h3 {
  color: red;
}
.home h2 {
  margin-top: 60px;
}
.home h2 b {
  color: blue;
}
.movie__background--left {
  position: absolute;
  top: 0;
  left: 0%;
  width: 50vw;
  height: 100vh;
  z-index: -1;
}
.movie__background--right {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50vw;
  height: 100vh;
  z-index: -1;
}
