body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Jua", sans-serif;
}
.home {
  text-align: center;
  margin-top: 200px;
}
.home h3 {
  color: red;
}
.home h2 {
  margin-top: 60px;
}
.movie__start {
  font-family: "Jua", sans-serif;
  color: blue;
  margin: 0 8px;
  text-decoration: none;
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  .home h1 {
    font-size: 22px;
  }
  .home h2 {
    font-size: 20px;
  }
  .movie__start {
    font-size: 25px;
  }
  .home h3 {
    font-size: 18px;
  }
}
