.nav {
  position: relative;
  top: 30px;
  margin: auto;
  width: 160px;
  background-color: rgb(108, 130, 255);
  border-radius: 30px;
  padding: 15px 10px;
}
.nav a {
  text-decoration: none;
  padding: 20px;
  color: black;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  font-family: "Jua", sans-serif;
}
.home {
  text-align: center;
  margin-top: 200px;
}
.home h3 {
  color: red;
}
.home h2 {
  margin-top: 60px;
}
.home h2 b {
  color: blue;
}
