.nav {
  position: relative;
  top: 30px;
  margin: auto;
  width: 160px;
  background-color: rgb(116, 159, 252);
  border-radius: 30px;
  padding: 15px 10px;
}
.nav a {
  text-decoration: none;
  padding: 20px;
  color: black;
}
