.nav {
  position: relative;
  top: 20px;
  margin: auto;
  width: 160px;
  background-color: black;
  border-radius: 30px;
  padding: 15px 10px;
  z-index: 1000;
}
.nav a {
  text-decoration: none;
  padding: 20px;
  color: white;
}
.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
